
.PrestazioniSection{
    margin-top: 20vh;
    margin-bottom: 15vh;
}

.AttributeRow{
    background: #5FA8D3;
    color: white;
    text-align: center;
}

.PrestazioniTable{
    width: 90%;
    margin: 0 auto;
}

.AppuntamentoButtonContainer{
    text-align: center;
    margin-top: 10vh;
}

.AppuntamentoButton{
    font-weight: 600;
}