.PresentationContainer{
    text-align: center;
}

.PresentationSection{
    margin-top: 15vh
}

.Seperators{
    background-color: black;
    height: 0.5vh;
    width: 15vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: inline-flex;
    vertical-align: text-top;
}

.VisiteText{
    font-size: 20px;
    width: 685px;
    margin: 0 auto 10vh;
}

.VisiteTitleContainer{
    text-align: center;
}

.SignUpButton{
    margin-top: 5vh;
    font-size: 18px;
}