.CarouselImage{
    height: 500px;
    object-fit:cover;
    width: 100%;
}

.CarouselCaption{
    text-shadow: 1px 2px 3px black;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem !important;
    height: 3rem !important;
}

.CarouselSeperator{
    background: #5FA8D3;
    height: 165px;
    box-shadow: 0px 10px 13px -7px #000000
}

.CarouselText{
    font-size: 20px;
    width: 595px;
    margin: 0 auto;
}

.PresentationContainer{
    text-align: center;
    margin-top: 15vh;
}

.PresentationSection{
    margin-top: 15vh
}

.Seperators{
    background-color: black;
    height: 0.5vh;
    width: 15vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: inline-flex;
    vertical-align: text-top;
}

.VisiteText{
    font-size: 20px;
    width: 685px;
    margin: 0 auto 10vh;
}

.VisiteTitleContainer{
    text-align: center;
}

.SignUpButton{
    margin-top: 5vh;
    font-size: 18px;
}